/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	max-width: 1100px;
}

img {
	max-width: 100%;
}

header.main-header {
	height: 4em;
	background-color: #1e1e1e;
	font-family: Arial, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

header img {
	height: 3.12em;
}

header a {
	position: absolute;
	right: 2em;
	top: 1em;
	text-decoration: none;
	color: white;
	font-size: 90%;
	font-family: 'Montserrat';
	
}

.fa-bars {
	position: absolute;
	right: .5em;
	top: 1em;
}

.slideshow {
	padding-top: 4em;
	width: 100%;
	z-index: -10;
	position: relative;
}
.slideshow h1 {
	color: white;
	text-shadow: .1em .1em black;
	text-decoration: none;
	font-size: 3em;
	position: absolute;
	right: 2em;
	top: 2em;
	font-family: Arial;
}

.slideshow p {
	color: white;
	text-shadow: .1em .1em black;
	text-decoration: none;
	font-size: 1.1em;
	position: absolute;
	right: 10em;
	top: 10.25em;
	font-family: Arial;
}

.lorg {
	margin: 0;
	
	background: #1e1e1e;
	color: white;
	font-family: Arial, sans-serif;
	width: 102%;
}

.lorg ul {
	padding: 0 1em;
	overflow: hidden;
	background: #1e1e1e;
	position: absolute;
	top: 22em;
	left: .5em;
	width: 98%;
}

.lorg li {
	z-index: +10;
	padding: 1em;
	color: white;
	background-color: #1e1e1e;
	text-decoration: none;
	font-family: 'Montserrat';
	float: left;
	list-style: none;
	
}
.lorg li:hover {
	background-color: #d82731;
}

.lorg a {
	color: white;
	text-decoration: none;
	font-size: 90%;
	padding-right: 2em;
}

.top-art {
	width: 30%;
	padding: 2em;
	font-size: .9em;
	
	float: left;
}


.top-art h2:hover {
	color: #d82731;
}
.top-art a {
	text-decoration: none;
	font-size: 60%;
	color: #ddd;
	margin: 0;
	padding: 0;

}

.float {
	background: #1e1e1e;
	height: 28em;
	width: 100%;
}

p span {
	font-size: 60%;
	text-transform: uppercase;
	
}
p span:hover {
	color: #d82731;
}

date {
	font-size: 90%;
}

.main-content h2 {
	font-family: 'Montserrat', sans-serif;
	padding: .25em;
	margin-left: 1em;
	margin-right: 37em;
	color: white;
	background-color: #d82731;
	font-size: 95%;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2.5em;
}
.main-background {
	background-color: white;
	border-left: .5em solid #ddd;
	border-right: .5em solid #ddd;
	z-index: -10;
}

.main-article {
	border-bottom: 1px solid #ddd;
	font-family: Arial, sans-serif;
	padding: 0 2em 5em 0em;
	color: #575757;
	
}
.main-article h2 {
	font-family: 'Bitter', sans-serif;
	font-weight: bolder;
	color: black;
	font-size: 130%;
	padding-top: 2em;
}

.main-article h2:hover {
	color: #d82731;
	
}
.main-article p {
	font-size: 90%;
}

.main-article a {
	text-decoration: none;
	
}
.main-article a:hover {
	color: #d82731;
}

.main-article img {
	float: left;
	margin: 2em;
	clear: both;
}

.fa-comments {
	padding-left: 4em;
}

.rmore {
	color:black;
	font-family: 'Bitter', serif;
	padding-left: 16em;
	font-size: 85%;
}
.end {
	border: none;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.search h3 {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 80%;
	text-transform: uppercase;
	margin-left: 2.5em;
}

.search input {
	width: 40%;
	margin-left: 2.25em;
	padding: .35em;
	font-size: 
}

.fa-search {
	position: absolute;
	left: 18.5em;
		
}

.twitter {
	width: 40%;
	padding-top: 2em;
	padding-left: 2.5em;
	float: left;
}

.top-stories {
	width: 40%;
	background: black;
	color: white;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float: right;

}
.top-stories h2 {
	font-size: 90%;
	padding: 1em;
	font-weight: lighter;
}

.top-stories ul{
	
}

.top-stories a {
	color: white;
	text-decoration: none;
}
.top-stories ul li {
	list-style-type: none;
	border-bottom: .15em solid white;
	border-width: 100%;
	

}

.main-footer {
	clear: both;
	background: #1e1e1e;
	color: #ddd;
	margin-top: 2em;
	height: 33em;
}

.main-footer img {
	display: block;
	text-align: center;
	width: 85%;
	margin: 2em 0 2em 4em;
	padding-top: 8em;
}
.main-footer ul {
	clear: both;
	color: #d82731;

}

.footer-nav {
	border-top: 1px solid #575757;
	border-width: 90%
	padding: 0;
}
.main-footer li a {
	color: #575757;
	text-decoration: none;	
	padding: 0;
}

.main-footer li {
	
	padding: .35em 1.8em 1em 0;
	float: left;
	font-size: 80%;
}
.main-footer p {
	clear: both;
	border-top: 1px solid #575757;
	color: #575757;
	font-size: 80%;
	padding-top: 2em;
	padding-left: 2em;
}

.naughty {
	color: #ddd;
	text-decoration: none;
	
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
